<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: parent(~{::#content})}">
<head>
<meta charset="UTF-8" />
<title data-th-text="${title}">about</title>

</head>
<body>
	<section id="content">
		<div class="text-center mt-8 p-8 flex items-center justify-center flex-col">

			<div class="mt-2" data-th-replace="~{message::messagebox}"></div>
			<a type="button" data-th-href="@{/signin}"
				class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
				Go Back 
			</a>
			<img class="h-auto max-w-lg rounded-lg mt-8 pt-8" src="/images/error_page.png" alt="image description">
			
		</div>
	</section>
</body>


</html>