<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: parent(~{::#content})}">
<head>
<meta charset="UTF-8" />
<title data-th-text="${title}">about</title>

</head>
<body>
	<section id="content">
	
	<div class="text-center mt-8 p-8 flex items-center justify-center flex-col">

			<div class="mt-2" data-th-replace="~{message::messagebox}"></div>

			<a type="button" data-th-href="@{/signin}"
				class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Login 
			</a>
			
		</div>
	</section>
</body>


</html>